div#box
  button(onclick: "socket.send('red')", style: "color:red;") red
  button(onclick: "socket.send('blue')", style: "color:blue;") blue
  button(onclick: "socket.send('green')", style: "color:green;") green